{% extends 'base.html' %}

{% block title %}
Eliminar empleado
{% endblock title %}

{% block content %}

{% include "includes/header.html" %}

<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>Eliminar empleado: {{ object.full_name }}</h1>
        </div>
        <div class="col-10">
            <form method="POST">{% csrf_token %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">¿Desea eliminar este empleado?</h4>
                    <p>Esta acción no se puede revertir</p>
                  </div>
        </div>
        <div class="col-10">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
        </div>
    </div>
</div>

{% endblock content %}

<h1>Eliminar</h1>