
{% extends 'base.html' %}

{% load static %}

{% block title %}
    {{ object.full_name }}
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}




      <div class="container">
        <div class="row">
            <div class="col-3 card" style="height: 300px; width: auto!important; margin-top: 20px; margin: 20px auto 0;">
                    {% if empleado.avatar %}
                    <img class="card-img-top" src="{{ empleado.avatar.url }}" alt="Card image cap" style="margin: 10px auto; width: 77px">
                    {% else %}
                    <img class="card-img-top" src="{% static 'img/user_image.png' %}" alt="Card image cap" style="margin: 10px auto; width: 77px">
                    {% endif %}
                    <div class="card-body">
                      <!-- Choices   -->
                      <h4 class="card-text"> {{ empleado.get_job_display }} </h4>
                      <p>{{ empleado.first_name }} {{ empleado.last_name }}</p>
                      <!-- Objeto del objeto que se cambia con str method -->
                      <p>{{ empleado.departamento.short_name }}</p>
                      <!-- Arreglo de objetos del tipo habilidades -->
                        <ul class="menu">
                            
                            {% for h in empleado.habilidades.all %}
                                <!-- Objeto del objeto sin importar str method -->
                                <li>{{ h.habilidad }}</li>
                            {% endfor %}
                                
                        </ul>

                    </div>
                  </div>
            </div>
        </div>

{% endblock content %}

<h1>Detalle de un empleado {{ Titulo }}</h1>

{{object}}
<p></p>
{{empleado}}

<h3>Todos los datos:</h3>

<p>{{ empleado.first_name }}</p>
<p>{{ empleado.habilidades }}</p>
<p>{{ empleado.departamento }}</p>
<p>{{ empleado.last_name }}</p>
